@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --spacing: 5rem;
    --letter-spacing-multiplier: -0.025;

    --transition: .5s ease-in-out;
}

* {
    transition: var(--transition);
    @apply m-0 p-0 box-border;
}



._kars {
    @apply relative overflow-hidden z-0 w-full flex flex-col justify-center items-center;

    >* {
        @apply px-[var(--spacing)];
    }
}



body {
    // @apply text-black bg-white grid place-items-center;

    //If you're not using Locomotive Scroll, remove the line below.
    // @apply lg:overflow-hidden;
}

// body[data-theme="dark"] {
//     // @apply bg-black text-white;
// }



h1, h2, h3, h4, h5, p, span, a {
    letter-spacing: calc(var(--font-size) * var(--letter-spacing-multiplier));
}

h1,h2,h3,h4,h5 {
    @apply leading-[1.1];
}

h1 {
    @apply font-[800] text-[4rem];
}

h2 {
    @apply font-bold text-[3rem];
}

h3 {
    @apply font-bold text-[2rem];
}

h4 {
    @apply font-bold text-[1.5rem];
}

h5 {
    @apply font-bold text-[1.25rem];
}

p {
    @apply leading-[1.3] font-medium text-zinc-500 text-[1rem];
    &.big {
        @apply font-semibold text-[1.25rem];
    }
}


    
a {
    @apply no-underline text-[var(--primary)];
}

button {
    @apply cursor-pointer outline-none border-0 font-[inherit];
}

input {
    @apply outline-none font-[inherit];
}